{% extends 'base.html' %}

{% block title %}Blog Detail{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="project-images">
        <img src="{{ object.image.url }}" class="img-fluid large-image" alt="{{ object.title }}">
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <h2>{{ object.title }}</h2>
      <p><strong>Category:</strong> {{ object.category.name }}</p>
      <p><strong>Summary:</strong> {{ object.summary }}</p>
      <p><strong>Content:</strong> {{ object.content }}</p>
      {% if object.author == user %}
        <a href="{% url 'blogpost_update' object.pk %}" class="btn btn-primary">Update</a>
        <a href="{% url 'blogpost_delete' object.pk %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>
</div>

<p></p>
<br>
<p></p>
<br>
<p></p>
<br>
{% endblock %}
